https://www.kaggle.com/c/house-prices-advanced-regression-techniques

# Imports

In [663]:
import pandas as pd
import numpy as np

# Data import

In [740]:
df = pd.read_csv('train.csv')
df.shape

(1460, 81)

# Data processing

In [741]:
# df.SaleType.value_counts(dropna=False)

In [742]:
def categorize_data(df, key, primary_df):
#     if len(df[key].value_counts(dropna=False).keys()) == 2:
#         value = df[key].value_counts().keys()[0]
#         df[f"Is{key}{value}"] = (df[key] == value).astype(int)
#     else:
    for value in primary_df[key].value_counts().keys():
            df[f"Is{key}{value}"] = (df[key] == value).astype(int)
    if primary_df[key].isnull().sum():
            df[f"Is{key}Null"] = df[key].isnull().astype(int)

categorical_features = [
    'Alley', 'MSZoning', 'Street', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope','Neighborhood', 'BldgType',
    'HouseStyle', 'BldgType', 'RoofStyle', 'Exterior1st', 'Exterior2nd', 'Condition1', 'Condition2', 'MasVnrType',
    'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
    'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
    'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType',
    'YrSold', 'MoSold', 
]
for feature in categorical_features:
    categorize_data(df, feature, df)

# useless_features = ['Utilities', 'RoofMatl', 'MiscFeature'] # too little different examples
# ranked_features = [
#     'Condition1', 'Condition2', 'MasVnrType', 'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond','BsmtFinType1',
#     'BsmtFinType2', 'HeatingQC', 'KitchenQual', 'FireplaceQu', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence'
# ]

# df.columns
# print(df.dtypes[:50])
# print(df.dtypes[50:100])
# print(df.dtypes[50:400])
df.shape

(1460, 345)

In [745]:
not_number_columns = ['Id', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']
df = df.drop(not_number_columns, axis=1)
# df = df.drop(categorical_features, axis=1)
# df = df.drop(useless_features, axis=1)
df.shape

(1460, 301)

In [746]:
# df.dtypes

In [747]:
df = df.fillna(0)
df.loc[:, df.isnull().sum() != 0].isnull().sum()
df.shape

(1460, 301)

# Learning

In [748]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

In [749]:
from sklearn.model_selection import train_test_split
train_set_x, test_set_x, train_set_y, test_set_y = train_test_split(df.loc[:, df.columns != 'SalePrice'], df.SalePrice, test_size=0.01)
train_set_x.shape, train_set_y.shape, test_set_x.shape, test_set_y.shape

((1445, 300), (1445,), (15, 300), (15,))

In [750]:
# from sklearn import preprocessing
# min_max_scaler = preprocessing.MinMaxScaler()
# x_scaled = min_max_scaler.fit_transform(train_set_x)
# train_set_x = pd.DataFrame(x_scaled)
# x_scaled = min_max_scaler.fit_transform(test_set_x)
# test_set_x = pd.DataFrame(x_scaled)

In [751]:
# model = LinearRegression()
# model = RandomForestRegressor()
model = GradientBoostingRegressor()
model.fit(train_set_x, train_set_y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [752]:
model.score(test_set_x, test_set_y)

0.8413521508813779

# Prediction

In [743]:
test_df = pd.read_csv('test.csv')
test_df.describe()
ids = test_df.Id
test_df.shape

(1459, 80)

In [744]:
for feature in categorical_features:
    categorize_data(test_df, feature, df)
    
print(test_df.shape)
test_df = test_df.drop(not_number_columns, axis=1)
# test_df = test_df.drop(not_number_columns, axis=1)
print(test_df.shape)
test_df = test_df.fillna(0)
test_df.loc[:, test_df.isnull().sum() != 0].isnull().sum()
print(test_df.shape)

(1459, 344)
(1459, 300)
(1459, 300)

In [753]:
result = model.predict(test_df)
result

array([122450.58097914, 162473.99565002, 179273.57445937, ...,
       170334.10470203, 118502.22278873, 239774.96765184])

In [754]:
output = pd.DataFrame({'Id': ids, 'SalePrice': result})
output

        Id      SalePrice
0     1461  122450.580979
1     1462  162473.995650
2     1463  179273.574459
3     1464  176931.783058
4     1465  191996.648201
5     1466  170236.906941
6     1467  164456.202544
7     1468  159195.945141
8     1469  194719.846081
9     1470  127282.352829
10    1471  205815.922165
11    1472   95158.999216
12    1473   96576.088907
13    1474  154238.126401
14    1475  148131.680029
15    1476  438460.736899
16    1477  284678.023301
17    1478  307552.745326
18    1479  276436.600647
19    1480  468121.801032
20    1481  317881.229168
21    1482  211634.685415
22    1483  166879.844171
23    1484  170451.645917
24    1485  180319.942957
25    1486  188236.055863
26    1487  355286.378168
27    1488  240103.411004
28    1489  201977.379681
29    1490  220061.472077
...    ...            ...
1429  2890   82972.699910
1430  2891  135970.231372
1431  2892   50455.804891
1432  2893   99193.134345
1433  2894   63153.709413
1434  2895  284531.988935
1435  2896  281322.364601
1436  2897  210503.609141
1437  2898  145619.752934
1438  2899  231058.326462
1439  2900  153047.150750
1440  2901  218924.641122
1441  2902  186650.211941
1442  2903  342449.038983
1443  2904  374489.278417
1444  2905  108875.967639
1445  2906  200858.931273
1446  2907  102674.436374
1447  2908  134394.278498
1448  2909  140863.884312
1449  2910   89197.165146
1450  2911   88365.677932
1451  2912  142323.848508
1452  2913   90494.832784
1453  2914   76420.346650
1454  2915   84021.065656
1455  2916   87743.473168
1456  2917  170334.104702
1457  2918  118502.222789
1458  2919  239774.967652

[1459 rows x 2 columns]

In [755]:
output.to_csv('submission.csv', index=False)